@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Space+Grotesk&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
}

.combat-screen h1 {
  text-align: center;
  font-family: "Aboreto", cursive;
  font-size: 3rem;
  margin: 2rem;
}

.combat-screen h1 span {
  font-size: 3rem;
  text-decoration: underline;
}

.combat-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url("/assets/img/combat-back.jpg");
}

.monster,
.player {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 10;
  border: 1px solid black;
}

.monster::before,
.player::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.6;
  z-index: -2;
}

.img-wrap {
  width: 100%;
  height: 60%;
  padding: 1.5rem;
}

.img-wrap img {
  width: 100%;
  height: 100%;
}

.hp {
  height: 5%;
  text-align: center;
  font-size: 2rem;
}

.bottom-combat {
  height: 30%;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  z-index: 11;
}

.btn {
  font-size: 2rem;
  margin: 1rem;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn:hover {
  background-color: gray;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px;
}

.btn:active {
  box-shadow: none;
}

.btn p {
  font-size: 2rem;
  margin-left: 0.5rem;
  font-family: "Space Grotesk", sans-serif;
}

.btn .btn-icon {
  width: 2.3rem;
  height: 2.3rem;
}

.btn .btn-icon img {
  height: 100%;
}

/* .btn img {
    width:100%;
    height:100%;
} */

.player-details p,
.player-details p span,
.monster-details p,
.monster-details p span {
  margin: 1rem;
  font-size: 1.5rem;
}

.world {
  display: flex;
  height: 100vh;
  padding: 5rem;
  background-image: url("/assets/img/inn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.map-wrap {
  width: 70%;
}

.map-wrap img {
  height: 100%;
  width: 100%;
  border: 13px rgba(96, 55, 15, 0.832) solid;
  border-radius: 10px;
  opacity: 0.7;
}

.button-locations {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 8rem;
}

.btn-loc {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  width: 70%;
}

.btn-loc a {
  font-size: 1.8rem;
}

.btn-loc:hover {
  background-color: gray;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px gray;
}

.btn-loc:active {
  box-shadow: none;
}

.shop-container {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "hp defense blank"
    "str frog burger";
  grid-gap: 15rem;
  padding: 8rem;
  position: relative;
  z-index:10;
}

.shop-content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: brown;
  opacity: 0.8;
}

.shop-content .no-stock {
  position: relative;
}

.shop-content .no-stock::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.shop-content .shop-item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:10;
}

.shop-content .shop-item .item-img-wrap {
  width: 10rem;
  height: 10rem;
}

.shop-content .shop-item p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.shop-content .shop-item .no-stock-p {
  text-align: center;
  font-size: 1rem;
}

.shop-content .shop-item .item-img-wrap img {
  width: 100%;
  height: 100%;
}

.hp-pot {
  grid-area: hp;
}
.def-pot {
  grid-area: defense;
}
.black-pot {
  grid-area: blank;
}
.str-pot {
  grid-area: str;
}
.frog-pot {
  grid-area: frog;
}
.burger-pot {
  grid-area: burger;
}

@media screen and (max-width: 1024px) {
  .monster,
  .player {
    width: 50%;
  }
}
